<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/console.css">
    <title>Dashboard</title>
</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 d-none d-lg-flex buildforsdgs-sidebar-left buildforsdgs-centering">
                    <div class="buildforsdgs-consultant-bio">
                        <%- include('./partials/avatar.ejs') %>
                    </div>
                </div>
                <div class="col-lg-6 buildforsdgs-main-info buildforsdgs-centering">
                    <div class="buildforsdgs-action-bar buildforsdgs-console-card">
                        <a href="/">Home</a>
                        <div class="buildforsdgs-icon">
                            <span class="material-icons">notifications</span>
                        </div>
                    </div>
                    <div class="buildforsdgs-quick-cards d-none">
                        <div class="horizontal-flex-centered buildforsdgs-quick-card buildforsdgs-console-card"
                            id="buildforsdgs-patients">
                            <p class="buildforsdgs-quick-card-number"><%= 0 %></p>
                            <p class="buildforsdgs-quick-card-text">patients</p>
                        </div>
                        <div class="horizontal-flex-centered buildforsdgs-quick-card buildforsdgs-console-card"
                            id="buildforsdgs-connections">
                            <p class="buildforsdgs-quick-card-number"><%= 0 %></p>
                            <p class="buildforsdgs-quick-card-text">connections</p>
                        </div>
                        <div class="horizontal-flex-centered buildforsdgs-quick-card buildforsdgs-console-card"
                            id="buildforsdgs-appointments">
                            <p class="buildforsdgs-quick-card-number"><%= 0 %></p>
                            <p class="buildforsdgs-quick-card-text">appointments</p>
                        </div>
                    </div>
                    <div class="buildforsdgs-patients">
                        <div class="buildforsdgs-patients-header">
                            <p class="buildforsdgs-patients-header-text">Patients</p>
                        </div>
                        <div class="buildforsdgs-patients-details">
                            <% for(let i = 0; i < 2; i++) { %>
                            <div class="buildforsdgs-patients-detail">
                                <p class="buildforsdgs-patients-number"><%= i %></p>
                                <p class="buildforsdgs-patients-username"><%= 'simbiali' %></p>
                                <p class="buildforsdgs-patients-appointment"><%= 'Yes' %></p>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 buildforsdgs-sidebar-right buildforsdgs-centering"></div>
            </div>
        </div>
    </main>
</body>

</html>